#Temporary files
*.o
*.a
*.~*
.fuse_hidden*

#Compiled Executables
obj
lib
libcudamesh.a
hexagonal_tessellation_Dirac_delta
square_tessellation_2tri_Dirac_delta
square_tessellation_4tri_Dirac_delta
random_circle_Dirac_delta

#Generated Synthetic Meshses
synthetic_meshes/*_tessellation_*

#Compiled Plots
plots/*.png
