*.o
*.a
*.~*
obj
lib
libcudamesh.a
hexagonal_tessellation_Dirac_delta
square_tessellation_2tri_Dirac_delta
square_tessellation_4tri_Dirac_delta
random_circle_Dirac_delta
*_Dirac_delta_1_*
*_Dirac_delta_3_*
*_Dirac_delta_10_*
*_Dirac_delta_30_*
*_Dirac_delta_100_*
*_Dirac_delta_300_*
*_Dirac_delta_1000_*
*_Dirac_delta_3000_*
.fuse_hidden*
*.png
